/******************** 
Global CSS 
*********************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

p {
  color: #777777 !important;
}

.fw-medium {
  font-weight: 500;
}

.text-dark-1 {
  color: #1d1d1d;
}

.text-dark-2 {
  color: #4a4a4a;
}

.text-dark-5 {
  color: #d2d2d2;
}

.text-theme {
  color: #289bde;
}

.bg-theme {
  background-color: #289bde;
}

.btn-theme {
  background-color: #289bde;
  border: 1px solid #289bde;
  color: #289bde;
}

.mb-30 {
  margin-bottom: 30px;
}

section {
  margin-bottom: 130px;
}

/******************** 
Navbar CSS
*********************/

nav {
  margin: 35px 0;
}

/******************** 
Banner
*********************/

#bannerCarousel .carousel-item img {
  object-fit: cover;
  object-position: center;
}
#bannerCarousel .carousel-item:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(29, 29, 29, 0.7);
  width: 100vw;
  top: 0;
  height: 100vh;
}
.carousel-caption {
  bottom: initial;
}

/******************** 
E-Learning
*********************/

.elearning-card {
  background: #f4fafd;
}

/******************** 
Feedback
*********************/
.feedback .carousel-control-next-icon,
.feedback .carousel-control-prev-icon {
  width: 47px;
  height: 47px;
  background-size: 50% 50%;
  background-color: #289bde;
  border-radius: 100%;
}

.feedback .carousel-control-next-icon {
  margin-right: -22px;
}

.feedback .carousel-control-prev-icon {
  margin-left: -22px;
}

/******************** 
Footer
*********************/

footer {
  background: #161616;
  padding: 120px 0;
}
.social-share-icon a {
  width: 40px;
  height: 40px;
  background: #242424;
  line-height: 40px;
}
